<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
  <meta charset="UTF-8">
  <title>Registration and Login Page</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <span sec:authorize="isAuthenticated()"> <a class="nav-link" href="#" th:href="@{/logout}">Logout</a> </span>
        <a class="nav-link" href="#" th:href="@{/registration/signup}">Register</a>
      </div>
    </div>
  </div>
</nav>


<br>
<br>

<div class="container">
  <h1>Registration and Login with Spring Boot, Spring Security,
    Thymeleaf, Hibernate and MySQL</h1>
  Welcome Back <span sec:authentication="principal.username"> User</span>
</div>
</body>
</html>